<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-container {
            max-width: 400px;
            padding: 60px;
            background-color: white;
            border-radius: 10px;
            border: 2px solid gray;
        }
    </style>
    <!-- jquery ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="login-container">
        <h2 class="text-center font-weight-bold">Forgot Password</h2>
        <form id="forgot-password-form">
            <div class="form-group">
                <label for="email">Enter your email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email" required />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Send Reset Password Link</button>
        </form>
    </div>
</body>
<script>
    $("#forgot-password-form").submit((e) => {
        e.preventDefault();
        sendResetPasswordLink();
    });

    // Function to handle login
    function sendResetPasswordLink() {
        const email = $('#email').val();

        const data = { email };

        $.ajax({
            type: "POST",
            url: `/api/admin/forgot-password`,
            dataType: 'JSON',
            data: data,
            success: function success(result) {
                window.alert('Reset password link sent successfully. Kindly check your email');
                window.location.href = '/admin/';
            },
            error: function error(error) {
                window.alert(`${error.responseJSON.message}`);
            }
        })
    }
</script>

</html>