<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-container {
            max-width: 400px;
            padding: 60px;
            background-color: white;
            border-radius: 10px;
            border: 2px solid gray;
        }
    </style>
    <!-- jquery ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="login-container">
        <h2 class="text-center font-weight-bold">Reset Password</h2>
        <form id="reset-password-form">
            <div class="form-group">
                <label for="new_password">Enter new password</label>
                <input type="password" class="form-control" id="new_password" placeholder="New password" required />
                <label for="confirm_new_password">Confirm new password</label>
                <input type="password" class="form-control" id="confirm_new_password" placeholder="Confirm New password" required />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
    </div>
</body>
<script>
    const token = "<%=token%>";
    console.log(token,"token")
    $("#reset-password-form").submit((e) => {
        e.preventDefault();
        resetPassword();
    });

    // Function to handle login
    function resetPassword() {
        const password = $('#new_password').val();
        const confirmPassword = $('#confirm_new_password').val();

        const data = { password, confirmPassword };

        $.ajax({
            type: "POST",
            url: `/api/admin/password/reset/${token}`,
            dataType: 'JSON',
            data: data,
            success: function success(result) {
                window.alert('Password reset successful');
                window.location.href = '/admin/';
            },
            error: function error(error) {
                window.alert(`${error.responseJSON.message}`);
            }
        })
    }
</script>

</html>