<nav class="navbar navbar-vertical navbar-expand-lg" style="display:none;">
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <!-- scrollbar removed-->
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="/tpa/dashboard">
                            <div class="d-flex align-items-center">
                                <div class="dropdown-indicator-icon-wrapper"></div><span class="nav-link-icon"><span><i
                                            class="fa-solid fa-house"></i></span></span><span
                                    class="nav-link-text">Dashboard Home</span>


                            </div>
                        </a>

                    </div>
                </li>
                <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">More Information </p>
                    <hr class="navbar-vertical-line" />
                    <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-kanban"
                            role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-kanban">


                            <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1"
                                    href="#nv-social" role="button" data-bs-toggle="collapse" aria-expanded="false"
                                    aria-controls="nv-social">
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown-indicator-icon-wrapper"><span
                                                class="fas fa-caret-right dropdown-indicator-icon"></span></div><span
                                            class="nav-link-icon"><span><i
                                                    class="fa-solid fa-gear"></i></span></span><span
                                            class="nav-link-text">Setting </span>
                                    </div>
                                </a>
                                <div class="parent-wrapper label-1">
                                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse"
                                        id="nv-social">
                                        <li class="collapsed-nav-item-title d-none"> Update Proflie </li>
                                        <!-- <li class="nav-item"><a class="nav-link" href="/tpa/update-profile">
                                                <div class="d-flex align-items-center"><span
                                                        class="nav-link-text">Update Profile </span>
                                                </div>
                                            </a>
                                        </li> -->
                                        <li class="nav-item"><a class="nav-link" href="/tpa/update-password">
                                                <div class="d-flex align-items-center"><span class="nav-link-text">Reset
                                                        Password </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                </li>

            </ul>
        </div>

    </div>
    <div class="navbar-vertical-footer"><button
            class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span
                class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span
                class="navbar-vertical-footer-text ms-2">Collapsed View</span></button></div>
</nav>